@charset "UTF-8";
body {
  background: #d4d4d4 url("../images/background.png");
  font-family: sans-serif; }

main {
  width: 960px;
  margin: auto; }
  main h1 {
    color: #606060;
    font: 80px/1.2em "noticia text", serif;
    margin-bottom: -0.6em;
    /* display: inline-block; */ }
  main h2 {
    /* display: inline-block; */
    color: #606060;
    font: 46px/1.2em "noticia text", serif; }

#homepage-myphoto {
  display: inline-block; }

#myname-container {
  width: 500px;
  float: right;
  text-align: center; }

#homepage-myname {
  display: inline-block;
  /* vertical-align: top; */
  /* margin-top: 50px; */ }

.round-button-circle, #portfolio, #resume, #video {
  display: inline-block;
  margin: 0.8em;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

#portfolio {
  background: #e83556; }
  #portfolio:hover {
    background: #a4132e; }

#resume {
  background: #61cfd3; }
  #resume:hover {
    background: #2d9da1; }

#video {
  background: #d1c825; }
  #video:hover {
    background: #7a7516; }

.round-button {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: #e2eaf3;
  font-family: Verdana;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none; }

/* body { */
/*   background: #d4d4d4 url("../images/background.png"); */
/*   text-align: center; */
/*   font-family: sans-serif; } */
/* h1 { */
/*   color: rgba(0, 0, 0, .3); */
/*   font-weight: bold; */
/*   font-size: 32px; */
/*   letter-spacing: -1px; */
/*   text-transform: uppercase; */
/*   text-shadow: 0 1px 0 rgba(255, 255, 255, .5); */
/*   background: url("../images/middleman.png") no-repeat center 100px; */
/*   padding: 350px 0 10px; */
/*   margin: 0; } */
/* .doc { */
/*   font-size: 14px; */
/*   margin: 0; } */
/*   .doc:before, */
/*   .doc:after { */
/*     opacity: .2; */
/*     padding: 6px; */
/*     font-style: normal; */
/*     position: relative; */
/*     content: "•"; } */
/*   .doc a { */
/*     color: rgba(0, 0, 0, 0.3); } */
/*     .doc a:hover { */
/*       color: #666; } */
/* .welcome { */
/*   -webkit-animation-name: welcome; */
/*   -webkit-animation-duration: .9s; } */
/* @-webkit-keyframes welcome { */
/*   from { */
/*     -webkit-transform: scale(0); */
/*     opacity: 0; */
/*   } */
/*   50% { */
/*    -webkit-transform: scale(0); */
/*    opacity: 0; */
/*   } */
/*   82.5% { */
/*     -webkit-transform: scale(1.03); */
/*     -webkit-animation-timing-function: ease-out; */
/*     opacity: 1; */
/*   } */
/*   to { */
/*     -webkit-transform: scale(1); */
/*   } */
/* } */
