---
layout: layouts/base.njk
---

{% html "styles" %}
<link rel="preload" href="/assets/css/navigation.css" as="style">
<link rel="stylesheet" href="{{ '/assets/css/post.css' | url }}">
{% endhtml %}

<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
  <article>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </article>
</main>

<footer></footer>
