---
layout: layouts/base.njk
templateClass: tmpl-section-index
---

{% block styles %}
<link rel="stylesheet" href="/assets/css/section-index.css">
{% endblock %}

<main>
  {{ content | safe }}
</main>
