#sidebar-menu.closed-sidebar
  #close-sidebar-button
    X
  %ul
    %li
      %a{ href: "/russian/about.html", title: "о себе", class: ("active" if request.path == "russian/about.html") } о себе
    %li проекты
    %li
      %a{ href: "/russian/blog.html", title: "блог", class: ("active" if request.path == "russian/blog.html") } блог
    %li
      %a{ href: "/russian/other.html", title: "прочее", class: ("active" if request.path == "russian/other.html") } прочее
