---
title: Andrey Azov — About me
---

.myphoto-container
  =image_tag 'azov.png'
%p 
  :markdown
    Hi! My name is Andrey, and I am a web developer. The programming languages I am most confortable with are Ruby and JavaScript. Some of the web projects I’ve been involved in, along with their short descriptions, are listed on the Projects page.

    It has been a long journey getting to this point. I graduated from a medical school in Moscow (Russia), worked for a couple of years in a laboratory of medical genetics in Denmark, then came back to study the Russian language and literature in the Moscow State University, only to realize eventually that it is really programming that I really want to be doing for a living. Along the way, I translated and edited a number of medical books and works of fiction from English into Russian. Those are showcased in the [“Other”](/other.html) section of this site.

    In April–July 2014, I took a three-month intensive course *Web Development Immersive* offered in the London campus of a coding bootcamp *General Assembly*, happily hacking away and learning Ruby on Rails and some JavaScript. Out of my academic interest to the Russian translations of Byron’s *Don Juan,* came the idea for the final project: a [website](http://donjuan.herokuapp.com) that shows parallel texts of the original Byron’s poem (annotated by Isaac Asimov, of the *Three Laws of Robotics* fame) alongside two of its best Russian translations (a brief story of which I tell in [this Youtube video](https://youtu.be/GQWlpVrULlw)).

    The three months at General Assembly have been the happiest three months of my life. Looking forward to the three months at Hack Reactor, I hope to experience this kind of coding bliss one more time.
