---
title: Andrey Azov
---

%main
  #homepage
    %h1 Andrey Azov
    %h2 web developer

    %ul
      %li 
        = link_to 'about me', '/about.html'
      %li projects
      %li blog
      %li other

    #homepage-language
      %p по-русски


        
