---
title: Andrey Azov
---

#homepage
  %h1 Andrey Azov
  %h2 web developer

  %ul
    %li 
      = link_to 'about me', '/about.html'
    %li 
      = link_to 'projects', '/projects.html'
    %li 
      = link_to 'blog', '/blog/index.html'
    %li 
      = link_to 'other', '/other.html'

  #homepage-language
    %p по-русски


        
