---
title: Андрей Азов
---

#homepage
  %h1 Андрей Азов
  %h2 веб-разработчик

  %ul
    %li
      %a{ href: "/russian/about.html", title: "о себе" } о себе
    %li проекты
    %li блог
    %li прочее

  #homepage-language
    %p in English


        
