---
title: Андрей Азов — Прочее
---

%p Здесь я собрал свою библиографию, выкинув из нее несколько совсем уж никудышных статей.


Медицина
Художественная литература
Филология
Видеозаписи


#bibliography
  .portfolio-section{:data => {:order => 1}}
    .book-container
      %h2 Медицина
      %h3 Перевод и редактирование иностранной литературы
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/olympic-ru.jpg'
            .back
              =image_tag 'covers/olympic-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Швеллнус М.
              %span.title
                Олимпийское руководство по спортивной медицине.
              М.: Практика, 2011. 672 с.
            %p.comment
              (перевод гл. 15)
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/taping-ru.jpg'
            .back
              =image_tag 'covers/taping-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Перрин Д.
              %span.title
                Повязки и ортезы в спортивной медицине.
              М.: Практика, 2011. 192 с.
            %p.comment
              (редактор перевода, переводчик видеофильма на прилагаемом к книге DVD)
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/sport-trauma-ru.jpg'
            .back
              =image_tag 'covers/sport-trauma-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Макмаон П. (ред.)
              %span.title
                Спортивная травма: диагностика и лечение.
              М.: Практика, 2011. 366 с.
            %p.comment
              (перевод гл. 2, 5)
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/smith-ru.jpg'
            .back
              =image_tag 'covers/smith-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Джонс К. Л.
              %span.title
                Наследственные синдромы по Дэвиду Смиту. Атлас-справочник.
              М.: Практика, 2011. 1024 с. 
            %p.comment
              (сопереводчик и редактор перевода)
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/trauma-ru.jpg'
            .back
              =image_tag 'covers/trauma-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Мур Э., Мэттокс К., Феличиано Д. (ред.)
              %span.title
                Экстренная медицинская помощь при травме.
              М.: Практика, 2010.
            %p.comment
              (перевод глав 2, 4)
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/lymphoma-ru.jpg'
            .back
              =image_tag 'covers/lymphoma-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Холман П., Гарретт Д., Джансен У.
              %span.title
                Лимфомы и лимфогранулематоз.
              М.: Практика, 2007. 137 с. (Серия «100 вопросов врачу».)
            %p.comment
              (редактор перевода)      
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/pathology-secrets-ru.jpg'
            .back
              =image_tag 'covers/pathology-secrets-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Дамианов И.
              %span.title
                Секреты патологии.
              М.: Медицинское информационное агентство, 2006. 812 с.
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/obstetrics-ru.jpg'
            .back
              =image_tag 'covers/obstetrics-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Кэмпбелл С., Лиз К. (ред.)
              %span.title
                Акушерство от десяти учителей.
              М.: Медицинское информационное агентство, 2004. 464 с.
      %h3 Редактирование отечественной литературы
      .book
        .flip-container
          =image_tag 'covers/hip-replacement.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Середа А. П.
              %span.title
                Эндопротезирование тазобедренного сустава. Ответы на все вопросы.
              М.: Гранат, 2014. 121 с.
      .book
        .flip-container
          =image_tag 'covers/eponyms-endocrinology.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Мельниченко Г. А., Петеркова В. А., Тюльпаков А. Н., Максимова Н. В.
              %span.title
                Эпонимические синдромы в эндокринологии.
              М.: Практика, 2013. 172 с.
      .book
        .flip-container
          =image_tag 'covers/eponyms-pulmonology.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Розинова Н. Н., Лев Н. С., Богорад А. Е.
              %span.title
                Эпонимические синдромы в пульмонологии.
              М.: Практика, 2011. 87 с.

      %h3 Статьи (избранные)
      .article-description
        %ol
          %li
            =link_to 'A. G. Azov, J. Koch, S. J. Hamilton-Dutoit. Improved diagnosis of mycobacterial infections in formalin-fixed and paraffin-embedded sections with nested polymerase chain reaction', '/pdfs/diagnosis-of-mycobacterial-infections-with-nested-PCR.pdf'
            \// Acta Pathologica, Microbiologica et Immunologica Scandinavica. 113:589–93, 2005.

  .portfolio-section{:data => {:order => 2}}
    .book-container
      %h2{style: "clear: both"} Художественная литература
      %h3 Перевод

      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/wicked-ru.jpg'
            .back
              =image_tag 'covers/wicked-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Магвайр Г.
              %span.title
                Ведьма: жизнь и времена Западной колдуньи из страны Оз.
              М.: АСТ, 2008. 414 с.
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/wolitzer-ru.jpg'
            .back
              =image_tag 'covers/wolitzer-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Уолитцер М.
              %span.title
                Позиция.
              М.: АСТ, 2007. 318 с.
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/buettner-ru.jpg'
            .back
              =image_tag 'covers/buettner-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Бюттнер Р.
              %span.title
                Сироты.
              М.: АСТ, 2006. 319 с.
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/vreeland-ru.jpg'
            .back
              =image_tag 'covers/vreeland-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Вриланд С.
              %span.title
                Девушка в нежно-голубом.
              М.: АСТ, 2006. 252 с.
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/nostradamus-ru.jpg'
            .back
              =image_tag 'covers/nostradamus-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Коупленд Д.
              %span.title
                Эй, Нострадамус!
              М.: АСТ, 2004. 254 с.
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/cuthbert-ru.jpg'
            .back
              =image_tag 'covers/cuthbert-eng.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Вудхауз П. Г.
              %span.title
                Бить будет Катберт
              \/ П. Г. Вудхауз. Золотце ты наше. Простак в стране чудес. Рассказы. М.: Полиграф Опт, 2004. 519 с.

  .portfolio-section{:data => {:order => 3}}
    .book-container
      %h2 Гуманитарные науки
      %h3 Монографии
      .book
        .flip-container
          =image_tag 'covers/bukvalisty.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Азов А. Г.
              %span.title  
                Поверженные буквалисты: Из истории художественного перевода в СССР в 1920—1960-е годы.
              М.: Издательский дом Высшей школы экономики, 2013. 300 с.
      %h3 Статьи (избранные)
      .article-description
        %ol
          %li <a href="http://tekstologia.jimdo.com/app/download/8704868093/Azov.pdf?t=1394521564">О переиздании перевода «Посмертных записок Пиквикского клуба» под редакцией Густава Шпета</a> // Текстология и историко-литературный процесс: II Международная конференция молодых исследователей (Москва, Московский государственный университет им. М. В. Ломоносова, филологический факультет, 21—22 марта 2013 г.): Сборник статей. М.: Лидер, 2014. С. 158–176.
          %li 
            =link_to '“Barbaric Yawp” in Russian', '/pdfs/yawp-russian.pdf'
            \// Rocznik Komparatystyczny (Comparative Yearbook). 2013. No. 4. P. 321–325.
          %li
            =link_to 'К истории теории перевода в Советском Союзе. Проблема реалистического перевода', 'http://www.logosjournal.ru/arch/22/art_163.pdf'
            \// Логос. 2012. № 3. С. 131–152.
          %li 
            =link_to 'Воспаление: к истории слова и понятия', '/pdfs/inflammation.pdf'
            \// Вопросы русского языкознания: Сб. Вып. XIII. Фонетика и грамматика: настоящее, прошедшее, будущее: К 50‑летию научной деятельности Софьи Константиновны Пожарицкой / Сост. С. В. Князев, А. В. Птенцова; отв. ред. М. Л. Ремнёва, С. В. Князев. М.: Изд-во МГУ, 2010. С. 323–329.
