@import "global.css";
@import "navigation.css";

main {
  max-width: var(--content-width);
  margin: 90px auto;
}

.about__my-photo {
  border-radius: 100%;
  float: right;
  width: clamp(50px, 30%, 142px);
  margin: 0.6rem;
}
