@import "global.css";

main {
  max-width: 800px;
  margin: auto;
  padding-top: min(10vh, 60px);
}

h1 {
  font-size: 5rem;
  /* font-size: clamp(30px, 12vw, 50px); */
  line-height: 1;
  margin: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.occupation {
  font-size: 2rem;
  text-align: center  ;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: min(2rem, 20vh);
}

nav ul {
  width: fit-content;
}