.nav-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  display: flex;
  background: #262626;
  z-index: 1;
  transition: transform 0.2s ease-in-out;
}

.nav-sidebar_closed {
  transform: translateX(-100%);
}

.nav-sidebar_open {
  transform: translateX(0);
}

@media screen and (max-width: 767px) {
  .nav-sidebar {
    width: 100%;
  }
}

.nav-sidebar__open-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 90px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1px 2px 1px #888888;
  cursor: pointer;
  user-select: none;
}

.nav-sidebar__open-button:hover {
  animation: wobble 1s ease-in-out;
}

.nav-sidebar__open-button svg {
  height: 20px;
  width: 28px;
}

.nav-sidebar__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.nav-sidebar__close svg {
  width: 20px;
  height: 20px;
  fill: white;
}

@media screen and (max-width: 1000px) {
  .nav-sidebar__open-button {
    left: 2rem;
  }
}

.nav-sidebar__links {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin: auto;
}

.nav-sidebar__link {
  color: white;
}

.nav-sidebar__link {
  font-size: 3rem;
  line-height: 1.7;
}

.nav-sidebar__link_active {
  color: #b88b58;
}

@keyframes wobble {
  16.65% {
    transform: translateY(3px);
  }

  33.3% {
    transform: translateY(-2px);
  }

  49.95% {
    transform: translateY(2px);
  }

  66.6% {
    transform: translateY(-1px);
  }

  83.25% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0);
  }
}
