@import "global.css";
@import "header.css";

@import url('https://unpkg.com/prismjs@1.20.0/themes/prism.css') layer(prism);

main {
  max-width: var(--content-width);
  margin: 90px auto;
}

article {
  max-width: 80ch;
}

code {
  font-size: 0.8rem;
}
