* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'EB Garamond', serif;
}

main {
  padding: 0 1rem 2rem;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  padding: 0.2rem;
}

a, a:visited:not([class]) {
  color: blue;
}
