:root {
  --content-width: 960px;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'EB Garamond', serif;
}

main {
  padding: 0 1rem 2rem;
}

a {
  text-decoration: none;
  padding: 0.2rem;
}

a, a:visited:not([class]) {
  color: blue;
}

ul {
  margin: 0;
  padding: 0 0 0 2ch;
}