
.site-section.resume
	%h2 Резюме
	.resume_container
		.resume-info-container
			.resume-info-group
				.resume-info-heading
					.heading-circle
						%h3 Вкратце
				.resume-info
					%p Перевожу. Редактирую. Преподаю медицинский английский. И ищу работу по изготовлению сайтов в интернете.
					%p А еще я люблю свободное программное обеспечение. Поэтому среди моих рабочих инструментов — Linux, LibreOffice, Emacs, Gimp, Inkscape, Audacity, Kdenlive, Blender и проч.	
			.resume-info-group	
				.resume-info-heading
					.heading-circle
						%h3 Образование
				.resume-info
					%h4 General Assembly, Лондон, Великобритания
					%h5 2014 (апрель–июль)
					%p Трехмесячные интенсивные курсы по веб-программированию “Web Development Immersive”

					%h4 Московский государственный университет им. М. В. Ломоносова
					%h5 2007–2012
					%p Филологический факультет, отделение русского языка и литературы. Преподаватель русского языка и литературы.

					%h4 Университет г. Орхус, Дания
					%h5 2004–2006
					%p Аспирантура в лаборатории молекулярной патологии (не окончена).

					%h4 Московская медицинская академия им. И. М. Сеченова
					%h5 1997–2004
					%p Лечебный факультет. Врач (лечебное дело).

			.resume-info-group	
				.resume-info-heading
					.heading-circle
						%h3 Работа
				.resume-info
					%h4 Преподаватель, школа № 1253
					%h5 2012 — н. в.
					%p Преподаю курс медицинского английского в лицейских медико-биологических классах. В программу курса входит терминология, используемая для описания нормальной анатомии и физиологии человека, а также наиболее распространенных болезней.

					%h4 Переводчик и редактор, издательство «Практика»
					%h5 2006 — н. в.
					%p Перевожу англоязычные медицинские книги, редактирую медицинские переводы с английского, а также оригинальную русскоязычную медицинскую литературу.

					%h4 Редактор, компания «Андев»
					%h5 2013–2014
					%p Занимался литературным редактированием и вычиткой текстов.

					%h4 Консультант центра письменной и устной коммуникации, Российская экономическая школа
					%h5 2013–2014
					%p Проводил индивидуальные консультации со студентами по написанию текстов на английском языке.

		.resume-skill-container
			.resume-skill-circle
				%p <i class="fa fa-laptop"></i>
			.resume-skill
				%h3 Компьютерное
				%h4 Языки
				%p Ruby, JavaScript (CoffeeScript)
				%h4 Платформы
				%p Rails, Middleman
				%h4 Разметка
				%p HTML (HAML), CSS (SASS, SCSS)
				%h4 Прочее
				%p Linux, git, PostgreSQL, Joomla, Wordpress, LaTeX
			.resume-skill-circle
				%p <i class="fa fa-globe"></i>
			.resume-skill
				%h3 Языки
				%p Русский (родной)
				%p Английский (свободно)