---
title: Andrey Azov
---

%main
  #homepage-myphoto-myname-container
    #homepage-myphoto
      =image_tag 'azov.png'

    #myname-container
      #homepage-myname
        %h1 Андрей Азов
        %h2 переводчик, редактор, веб-разработчик

      #button-container
        #portfolio.round-button-circle
          %a.round-button{href: "#", :data => {:section => 'portfolio'}}Работы
        #resume.round-button-circle
          %a.round-button{href: "#", :data => {:section => 'resume'}}Резюме
        #video.round-button-circle
          %a.round-button{href: "#", :data => {:section => 'videos'}}Видео


  .site-section.portfolio
    %h2 Работы
    %nav
      %ul
        %li
          %a{href: "#", :data => {:order => 1}} Медицина
        %li
          %a{href: "#", :data => {:order => 2}} Литература
        %li
          %a{href: "#", :data => {:order => 3}} Исследования
        %li
          %a{href: "#", :data => {:order => 4}} Сайты

    .portfolio-section{:data => {:order => 1}}
      .book-container
        %h2 Медицинская литература
        %h3 Перевод и редактирование иностранной литературы
        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/olympic-ru.jpg'
              .back
                =image_tag 'covers/olympic-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Швеллнус М.</em> <strong>Олимпийское руководство по спортивной медицине.</strong> М.: Практика, 2011. 672 с.
              %small (перевод гл. 15 «Спортсмены-инвалиды», стр. 483—499)
        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/taping-ru.jpg'
              .back
                =image_tag 'covers/taping-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Перрин Д.</em> <strong>Повязки и ортезы в спортивной медицине.</strong> М.: Практика, 2011. 192 с.
              %small (редактор перевода, переводчик видеофильма на прилагаемом к книге DVD)
        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/sport-trauma-ru.jpg'
              .back
                =image_tag 'covers/sport-trauma-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Макмаон П. (ред.)</em> <strong>Спортивная травма: диагностика и лечение.</strong> М.: Практика, 2011. 366 с.
              %small (перевод гл. 2, 5)
        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/smith-ru.jpg'
              .back
                =image_tag 'covers/smith-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Джонс К. Л.</em> <strong>Наследственные синдромы по Дэвиду Смиту. Атлас-справочник.</strong> М.: Практика, 2011. 1024 с. 
              %small (сопереводчик и редактор перевода)
        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/trauma-ru.jpg'
              .back
                =image_tag 'covers/trauma-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Мур Э., Мэттокс К., Феличиано Д. (ред.)</em> <strong>Экстренная медицинская помощь при травме.</strong> М.: Практика, 2010.
              %small (перевод глав 2, 4)
        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/lymphoma-ru.jpg'
              .back
                =image_tag 'covers/lymphoma-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Холман П., Гарретт Д., Джансен У.</em> <strong>Лимфомы и лимфогранулематоз.</strong> М.: Практика, 2007. 137 с. (Серия «100 вопросов врачу».)
              %small (редактор перевода)      
        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/pathology-secrets-ru.jpg'
              .back
                =image_tag 'covers/pathology-secrets-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Дамианов И.</em> <strong>Секреты патологии.</strong> М.: Медицинское информационное агентство, 2006. 812 с.
        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/obstetrics-ru.jpg'
              .back
                =image_tag 'covers/obstetrics-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Кэмпбелл С., Лиз К. (ред.)</em> <strong>Акушерство от десяти учителей.</strong> М.: Медицинское информационное агентство, 2004. 464 с.
        %h3 Редактирование отечественной литературы
        .book
          .flip-container
            =image_tag 'covers/hip-replacement.jpg'
          .book-description-container
            .book-description
              %p <em>Середа А. П.</em> <strong>Эндопротезирование тазобедренного сустава. Ответы на все вопросы.</strong> М.: Гранат, 2014. 121 с.
        .book
          .flip-container
            =image_tag 'covers/eponyms-endocrinology.jpg'
          .book-description-container
            .book-description
              %p <em>Мельниченко Г. А., Петеркова В. А., Тюльпаков А. Н., Максимова Н. В.</em> <strong>Эпонимические синдромы в эндокринологии.</strong> М.: Практика, 2013. 172 с.
        .book
          .flip-container
            =image_tag 'covers/eponyms-pulmonology.jpg'
          .book-description-container
            .book-description
              %p <em>Розинова Н. Н., Лев Н. С., Богорад А. Е.</em> <strong>Эпонимические синдромы в пульмонологии.</strong> М.: Практика, 2011. 87 с.

    .portfolio-section{:data => {:order => 2}}
      .book-container
        %h2{style: "clear: both"} Художественная литература
        %h3 Перевод

        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/wicked-ru.jpg'
              .back
                =image_tag 'covers/wicked-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Магвайр Г.</em> <strong>Ведьма: жизнь и времена Западной колдуньи из страны Оз.</strong> М.: АСТ, 2008. 414 с.
        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/wolitzer-ru.jpg'
              .back
                =image_tag 'covers/wolitzer-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Уолитцер М.</em> <strong>Позиция.</strong> М.: АСТ, 2007. 318 с.
        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/buettner-ru.jpg'
              .back
                =image_tag 'covers/buettner-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Бюттнер Р.</em> <strong>Сироты.</strong> М.: АСТ, 2006. 319 с.
        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/vreeland-ru.jpg'
              .back
                =image_tag 'covers/vreeland-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Вриланд С.</em> <strong>Девушка в нежно-голубом.</strong> М.: АСТ, 2006. 252 с.
        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/nostradamus-ru.jpg'
              .back
                =image_tag 'covers/nostradamus-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Коупленд Д.</em> <strong>Эй, Нострадамус!</strong> М.: АСТ, 2004. 254 с.
        .book
          .flip-container
            .flipper
              .front
                =image_tag 'covers/cuthbert-ru.jpg'
              .back
                =image_tag 'covers/cuthbert-eng.jpg'
          .book-description-container
            .book-description
              %p <em>Вудхауз П. Г.</em> <strong>Бить будет Катберт</strong> / П. Г. Вудхауз. Золотце ты наше. Простак в стране чудес. Рассказы. М.: Полиграф Опт, 2004. 519 с.

    .portfolio-section{:data => {:order => 3}}
      .book-container
        %h2 Гуманитарные науки
        %h3 Монографии
        .book
          .flip-container
            =image_tag 'covers/bukvalisty.jpg'
          .book-description-container
            .book-description
              %p <em>Азов А. Г.</em> <strong>Поверженные буквалисты: Из истории художественного перевода в СССР в 1920—1960-е годы.</strong> М.: Издательский дом Высшей школы экономики, 2013. 300 с.
        %h3 Статьи (избранные)
        .article-description
          %ol
            %li <a href="http://tekstologia.jimdo.com/app/download/8704868093/Azov.pdf?t=1394521564">О переиздании перевода «Посмертных записок Пиквикского клуба» под редакцией Густава Шпета</a> // Текстология и историко-литературный процесс: II Международная конференция молодых исследователей (Москва, Московский государственный университет им. М. В. Ломоносова, филологический факультет, 21—22 марта 2013 г.): Сборник статей. М.: Лидер, 2014. С. 158–176.
            %li 
              =link_to '“Barbaric Yawp” in Russian', '/pdfs/yawp-russian.pdf'
              \// Rocznik Komparatystyczny (Comparative Yearbook). 2013. No. 4. P. 321–325.
            %li
              =link_to 'К истории теории перевода в Советском Союзе. Проблема реалистического перевода', 'http://www.logosjournal.ru/arch/22/art_163.pdf'
              \// Логос. 2012. № 3. С. 131–152.
            %li 
              =link_to 'Воспаление: к истории слова и понятия', '/pdfs/inflammation.pdf'
              \// Вопросы русского языкознания: Сб. Вып. XIII. Фонетика и грамматика: настоящее, прошедшее, будущее: К 50‑летию научной деятельности Софьи Константиновны Пожарицкой / Сост. С. В. Князев, А. В. Птенцова; отв. ред. М. Л. Ремнёва, С. В. Князев. М.: Изд-во МГУ, 2010. С. 323–329.
        %h2 Медицина
        %h3 Статьи (избранные)
        .article-description
          %ol
            %li
              =link_to 'A. G. Azov, J. Koch, S. J. Hamilton-Dutoit. Improved diagnosis of mycobacterial infections in formalin-fixed and paraffin-embedded sections with nested polymerase chain reaction', '/pdfs/diagnosis-of-mycobacterial-infections-with-nested-PCR.pdf'
              \// Acta Pathologica, Microbiologica et Immunologica Scandinavica. 113:589–93, 2005.

    .portfolio-section{:data => {:order => 4}}
      %h2 Сайты
      .site-image
        =image_tag 'sites/donjuan.png'
      .article-description
        %p <a href="http://donjuan.herokuapp.com">Byron’s <em>Don Juan</em> with annotations by Isaac Asimov and Russian translations</a> — сайт, посвященный поэме Д. Г. Байрона «Дон Жуан». Содержит избранные песни оригинала с комментариями Айзека Азимова и двух русских переводов: Татьяны Гнедич и Георгия Шенгели. Дает возможность читать любой из текстов по отдельности или в произвольных сочетаниях (генерируя параллельные тексты). <br />
        <strong>Использованные технологии:</strong> Ruby on Rails, Javascript (CoffeeScript), jQuery, Twitter Bootstrap.

  = partial "resume"
  = partial "videos"