---
title: Against Jira
date: "2023-07-11"
layout: layouts/post.njk
published: false
---

{% html "styles" %}
<link href="./assets/styles.css" rel="stylesheet">
{% endhtml %}

{% renderFile "./src/blog/test-nunjucks/text.md" %}

