---
title: Against Jira
date: "2023-07-11"
layout: layouts/post.njk
published: true
---

{% html "styles" %}
<link href="/assets/blog/2023/against-jira/styles.css" rel="stylesheet">
{% endhtml %}

{% renderFile "./src/blog/2023/against-jira/text.md" %}

