---
layout: layouts/home.njk
title: "Andrey Azov — Personal Website"
---

<main>
  <h1>Andrey Azov</h1>
  <h2>personal site</h2>

  <nav>
    <a href="/about">about me</a>
    <a href="/blog">blog</a>
    <a href="/diary">diary</a>
  </nav>
</main>
