---
layout: layouts/home.njk
title: "Andrey Azov — Personal Website"
---

<main>
  <h1>
    <span class="headingLine">Hello.</span>
    <span class="headingLine">I am Andrey Azov.</span>
  </h1>

  <p>
    I build web sites. And sometimes write long-form blog posts.
  </p>

  <p>
    I also use this space to collect links on topics that I find interesting, such as:
  </p>

  <nav>
    <ul>
      <li>Web development</li>
      <li>Agile software development</li>
      <li>English language and literature</li>
    </ul>
  </nav>
</main>
