
.site-section.videos
	%h2 Видео
	%p Здесь находятся записи нескольких моих докладов.

	.video-container 
		<iframe width="640" height="480" src="//www.youtube.com/embed/GQWlpVrULlw" frameborder="0" allowfullscreen></iframe>
		.video-description
			%p <strong>Soviet translations of Byron's Don Juan</strong> (доклад на конференции “Translating, Transposing, Transforming: Byron and the Nineteenth Century”, The Byron Centre, The University of Manchester, 6 декабря 2013 г.)
	.video-container 
		<iframe width="640" height="480" src="//www.youtube.com/embed/bkFCtngq-ZM" frameborder="0" allowfullscreen></iframe>
		.video-description
			%p <strong>Как не надо переиздавать переводы Диккенса</strong> (доклад на конференции «Текстология и историко-литературный процесс», Москва, Московский государственный университет им. М. В. Ломоносова, 22 марта 2013 г.)
	.video-container 
		<iframe width="640" height="480" src="//www.youtube.com/embed/BgGK5SlocPs" frameborder="0" allowfullscreen></iframe>
		.video-description
			%p <strong>Евгений Львович Ланн: писатель, поэт, переводчик Диккенса</strong> (доклад на Международной молодежной конференции «Ломоносов», Москва, Московский государственный университет им. М. В. Ломоносова, 12 апреля 2012 г.)