#sidebar-menu.closed-sidebar
  #close-sidebar-button
    X
  %ul
    %li
      = link_to "about me", "/about.html", :class => ("active" if current_path == "about.html")
    %li
      = link_to "projects", "/projects.html", :class => ("active" if current_path == "projects.html")
    %li
      = link_to "blog", "/blog/index.html", :class => ("active" if current_path == "blog/index.html")
    %li
      = link_to "other", "/other.html", :class => ("active" if current_path == "other.html")
