---
title: Andrey Azov — Other
---

%p Here I collected a list of my translations, original publications and talks (except for the least important or, well, the most embarrassing ones).

#bibliography
  #table-of-contents
    %ul
      %li
        %a{:href => "#health-sciences"} Health Sciences
      %li
        %a{:href => "#fiction"} Fiction
      %li
        %a{:href => "#humanities"} Humanities
      %li
        Videos

  .portfolio-section{:data => {:order => 1}}
    .book-container
      %a{:name => "health-sciences"}
      %h2 Health Sciences
      %h3 English to Russian Translations
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/olympic-eng.jpg'
            .back
              =image_tag 'covers/olympic-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                M. P. Schwellnus (ed.).
              %span.title
                The Olympic Textbook of Medicine in Sport.
              The Encyclopaedia of Sports Medicine. Volume XIV. Wiley-Blackwell. 2008.
            %p.comment
              (translated chapter 15)
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/taping-eng.jpg'
            .back
              =image_tag 'covers/taping-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                D. Perrin.
              %span.title
                Athletic Taping and Bracing, 2nd Edition.
              Human Kinetics, 2005
            %p.comment
              (edited the Russian translation; translated educational videos on the complementary DVD)
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/sport-trauma-eng.jpg'
            .back
              =image_tag 'covers/sport-trauma-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                P. McMahon (ed.)
              %span.title
                Current Diagnosis and Treatment in Sports Medicine.
              LANGE, 2006.
            %p.comment
              (translated chapters 2 and 5)
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/smith-eng.jpg'
            .back
              =image_tag 'covers/smith-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                K. Jones.
              %span.title
                Smith’s Recognizable Patterns Of Human Malformation, 6th Edition.
              Saunders, 2005.
            %p.comment
              (translated a large portion of the book and edited the entire Russian translation)
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/trauma-eng.jpg'
            .back
              =image_tag 'covers/trauma-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                E. E. Moore, K. L. Mattox, D. V. Feliciano.
              %span.title
                Trauma Manual, 4th Edition.
              McGraw-Hill, 2002.
            %p.comment
              (translated chapters 2 and 4)
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/lymphoma-eng.jpg'
            .back
              =image_tag 'covers/lymphoma-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                P. Holman, ‎J. Garrett, ‎W. D. Jansen.
              %span.title
                100 Questions & Answers About Lymphoma
              Jones and Bartlett, 2004.
            %p.comment
              (edited the Russian translation)
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/pathology-secrets-eng.jpg'
            .back
              =image_tag 'covers/pathology-secrets-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                I. Damjanov.
              %span.title
                Pathology Secrets.
              Hanley & Belfus, 2002.
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/obstetrics-eng.jpg'
            .back
              =image_tag 'covers/obstetrics-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                S. Campbell, C. Lees.
              %span.title
                Obstetrics by Ten Teachers, 17th Edition.
              CRC Press, 2000.
      %h3 Editing of Original Russian Medical Literature
      .book
        .flip-container
          =image_tag 'covers/hip-replacement.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                A. P. Sereda
              %span.title
                Hip Replacement: All Questions Answered.
              Granat, 2014.
            %p.comment
              (original title: Середа А. П. Эндопротезирование тазобедренного сустава. Ответы на все вопросы. М.: Гранат, 2014. 121 с.)
      .book
        .flip-container
          =image_tag 'covers/eponyms-endocrinology.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                G. A. Melnichenko, V. A. Peterkova, A. N. Тulpakov, N. V. Maksimova.
              %span.title
                Eponymic Diseases in Endocrinology.
              Practica, 2013.
            %p.comment
              (original title: Мельниченко Г. А., Петеркова В. А., Тюльпаков А. Н., Максимова Н. В. Эпонимические синдромы в эндокринологии. М.: Практика, 2013. 172 с.)
      .book
        .flip-container
          =image_tag 'covers/eponyms-pulmonology.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                N. N. Rozinova, N. S. Lev, A. E. Bogorad
              %span.title
                Eponymic Diseases in Pulmonology.
              Practica, 2011.
            %p.comment
              (original title: Розинова Н. Н., Лев Н. С., Богорад А. Е. Эпонимические синдромы в пульмонологии. М.: Практика, 2011. 87 с.)

      %h3 Selected Research Papers
      .article-description
        %ol
          %li
            :markdown
              A. G. Azov, J. Koch, S. J. Hamilton-Dutoit. Improved diagnosis of mycobacterial infections in formalin-fixed and paraffin-embedded sections with nested polymerase chain reaction // Acta Pathologica, Microbiologica et Immunologica Scandinavica. 113:589–93, 2005 ([pdf](/pdfs/diagnosis-of-mycobacterial-infections-with-nested-PCR.pdf)).

  .portfolio-section{:data => {:order => 2}}
    .book-container
      %a{:name => "fiction"}
      %h2{style: "clear: both"} Fiction
      %h3 English to Russian Translations

      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/wicked-eng.jpg'
            .back
              =image_tag 'covers/wicked-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Gregory Maguire.
              %span.title
                Wicked: The Life and Times of the Wicked Witch of the West.
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/wolitzer-eng.jpg'
            .back
              =image_tag 'covers/wolitzer-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Meg Wolitzer.
              %span.title
                The Position.
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/buettner-eng.jpg'
            .back
              =image_tag 'covers/buettner-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Robert Buettner.
              %span.title
                Orphanage.
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/vreeland-eng.jpg'
            .back
              =image_tag 'covers/vreeland-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Susan Vreeland.
              %span.title
                Girl in Hyacinth Blue.
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/nostradamus-eng.jpg'
            .back
              =image_tag 'covers/nostradamus-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                Douglas Coupland.
              %span.title
                Hey Nostradamus!
      .book
        .flip-container
          .flipper
            .front
              =image_tag 'covers/cuthbert-eng.jpg'
            .back
              =image_tag 'covers/cuthbert-ru.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                P. G. Wodehouse.
              %span.title
                The Clicking of Cuthbert.

  .portfolio-section{:data => {:order => 3}}
    .book-container
      %a{:name => "humanities"}
      %h2 Humanities
      .book
        .flip-container
          =image_tag 'covers/bukvalisty.jpg'
        .book-description-container
          .book-description
            %p
              %span.authors
                A. G. Azov.
              %span.title  
                The Literalists Defeated: An Episode from the History of Translation in the USSR in the 1920–1960s.
            %p.comment             
              (original title: Азов А. Г. Поверженные буквалисты: Из истории художественного перевода в СССР в 1920—1960-е годы. М.: Издательский дом Высшей школы экономики, 2013. 300 с.)
      %h3 Selected Papers
      .article-description
        %h4 In English
        %ol
          %li
            :markdown
              “Barbaric Yawp” in Russian // Rocznik Komparatystyczny (Comparative Yearbook). 2013. No. 4. P. 321–325 ([pdf](/pdfs/yawp-russian.pdf)).

        %h4 In Russian
        %ol
          %li
            :markdown
              О переиздании перевода «Посмертных записок Пиквикского клуба» под редакцией Густава Шпета // Текстология и историко-литературный процесс: II Международная конференция молодых исследователей (Москва, Московский государственный университет им. М. В. Ломоносова, филологический факультет, 21—22 марта 2013 г.): Сборник статей. М.: Лидер, 2014. С. 158–176 ([pdf](http://tekstologia.jimdo.com/app/download/8704868093/Azov.pdf)).
          %li
            :markdown
              К истории теории перевода в Советском Союзе. Проблема реалистического перевода // Логос. 2012. № 3. С. 131–152 ([pdf](http://www.logosjournal.ru/arch/22/art_163.pdf)).
          %li
            :markdown
              Воспаление: к истории слова и понятия // Вопросы русского языкознания: Сб. Вып. XIII. Фонетика и грамматика: настоящее, прошедшее, будущее: К 50‑летию научной деятельности Софьи Константиновны Пожарицкой / Сост. С. В. Князев, А. В. Птенцова; отв. ред. М. Л. Ремнёва, С. В. Князев. М.: Изд-во МГУ, 2010. С. 323–329 ([pdf](/pdfs/inflammation.pdf)).


